html{
  background-image: url("ressources/fond.jpg");
  background-size: cover;
  overflow: hidden;
}

footer{
  background-color: rgb(41, 102, 182);
  position: absolute;
  bottom:0;
  left: 0;
  right:0;
  width: 100%;
  height:5%;
}

#demarrer{
  color: white;
  font-weight: bold;
  text-shadow: grey 1px 1px, grey -1px 1px, grey -1px -1px, grey 1px -1px;

  position: absolute;
  left: 0;
  height: 100%;
  width: 15%;
  background-color: green;
  border-radius: 0px 10px 10px 0px;
}

#terminal{
  font-weight: bold;
  position: absolute;
  left: 0;
  top: 0;
  width: 5%;
  height: 10%;
}

#internet{
  font-weight: bold;
  position: absolute;
  left: 0;
  top: 20%;;
  width: 5%;
  height: 10%;
}




#terminalWindow{
  float: left;
  position: absolute;
  left: 30%;
  top:20%;
  height: 50%;
  width: 50%;
}

#internetWindow{
  float: left;
  position: absolute;
  left: 30%;
  top:20%;
  height: 50%;
  width: 50%;
}


.cache{
  display: none;
}

.montre{
  display: block;
}

img{
  width: 100%;
  height:100%;
}

#icone{
  width: 25%;
  height: 100%;
  margin-left: 10%;
}

#demarrer text{
  width: 40%;
  position: absolute;
  bottom:20%;
}

#menuDemarrer{
  height: 50%;
  width: 20%;
  position: absolute;
  left: 0;
  bottom:5%;
  background-color: grey;

}
