html{
  height: 100%;
  background-color: rgb(68, 171, 10);
  background-image: url("ressources/grass.jpg");
}
body{
  height: 100%;
  overflow: hidden;
}
.rainbow{
  background-color:rgb(61, 137, 208);
  background-image: url("ressources/sky.jpg");
  float:left;
}
#upgrades{
  background-color: yellow;
  background-image: url("ressources/gold.jpg");
  width:10%;
  height: 100%;
  float:left;
  overflow-y:scroll;
  display: inline-block;
}

#bonus{
  background-color: rgb(102, 84, 21);
  background-image: url('ressources/fond_bois.jpg');
  overflow: scroll;
  float:right;

}

.rainbow,#bonus{
  margin:0;
  overflow: hidden;
  height: 100%;
  width: 45%;
  display: inline;
}

p{
  text-align: center;
}

img{

  margin-right: 33%;
  margin-left: 33%;

  margin-top: 25%;
  margin-bottom: 33%;

}

button:disabled{
  color: grey;
}
button:enabled{
  color: white;
}

#bonusBox{
 width:100%;
 height: 10%;
 background-color: grey;
 display: inline-block;
 margin-bottom: 1%;
 text-align: center;
}

#bonus>button{
  border: none;
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
  height: 10%;
  margin-bottom: 1%;
  display: block;
  background-color: rgb(79, 79, 79);
}
